name: Git Town

on:
  pull_request_target:
    branches:
      - '**'

concurrency:
  group: git-town-${{ github.sha }}
  cancel-in-progress: true

jobs:
  branch-stack:
    name: Display the Branch Stack
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - name: Git Town
        uses: ./
